/* *********************
      HEADER 
********************* */

header {
    width: 100%;
    height: 150px;
    background-image: url(../img/pattern.png);
    background-color: #4aabf5;
    background-position-y: -15px;
    position: relative;
}

#logo {
    height: 60px;
    width: auto;
    position: absolute;
    left: 7px;
    bottom: 7px;
}

.editor {
    color: #4aabf5;
}

.more-info {
    color: #777;
}

/* *********************
      Main Article 
********************* */

.c-yellow {
    background-color: yellow;
}