/* *********************
      HEADER 
********************* */

header {
    width: 100%;
    height: 150px;
    background-image: url(../img/pattern.png);
    background-color: #4aabf5;
    background-position-y: -15px;
    position: relative;
}

h1 {
    margin-bottom: 0;
}


#logo {
    height: 60px;
    width: auto;
    position: absolute;
    left: 7px;
    bottom: 7px;
}

.information {
    margin-bottom: 20px;
}

.editor {
    color: #4aabf5;
}

.more-info {
    color: #777;
    font-weight: 600;
    font-size: 18px;
}

.data {
    color: #777;
    font-size: 14px;
    font-weight: 500;
}

/* *********************
      Main Article 
********************* */
.container {
    width: 1100px;
    margin:auto
}

.c-yellow {
    background-color: yellow;
}

.info-ph {
    font-size: 14px;
}

ul {
    list-style-position: inside;padding-left: 0;
}

/* *********************
      Table
********************* */

table {
    border-collapse: collapse;
    text-align: left;
}


th {
    height: auto;
    background-color: #4aabf5;
    color: white;
}

tr:nth-child(odd) {
    background-color: #a4cfef;
}

.description {
    width: 50%;
}

tr:hover {
    background-color: darkorchid;
    color: white;
    cursor: pointer;
}

.tim:link, .tim:visited {
text-decoration: none;
color: black;
}

.tim:hover {
    text-decoration: underline;
    color: coral;
}

.tim:active {
    text-decoration: underline;
    background-color: coral;
    color: white;
}


/* *********************
      Footer 
********************* */

footer {
    width: 300px;
    height: auto;
}

.monitor {
    background-image: url(../img/monitor.jpg);
    color: white;
    width: auto;
    height: 200px;
    font-weight: bold;
}

.monitor:hover {
    cursor: pointer;
}

.graph {
    background-image: url(../img/graph.jpg);
    color: white;
    width: auto;
    height: 200px;
    font-weight: bold;
}

.graph:hover {
    cursor: pointer;
}
